.top-level-data-table-div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data-table-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-table-subdiv {
  width: 95%;
}

.table-filter-input-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.table-export-input-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.table-filter-input-subdiv {
  width: auto;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.table-filter-advanced-input-subdiv {
  /* width: auto; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.table-filter-text-search-div {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.table-filter-advanced-text-search-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-advanced-filter-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.react-filter-box-div {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/** Add/Edit Modal **/

.modal-edit-date-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-select-columns-top-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.modal-edit-date-title-subdiv {
  display: flex;
  height: auto;
  justify-content: center;
  width: 100%;
}

.modal-edit-date-title {
  color: black;
  font-size: 2.5rem;
}

.modal-select-columns-div {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: auto;
  height: 100%;
  margin-top: 40px;
}

.modal-edit-date-input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-edit-date-title-name-input {
  color: black;
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-edit-date-picker {
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: 15px;
}

.modal-edit-date-picker:hover {
  cursor: pointer;
}

.modal-edit-date-error-name-input {
  color: #C94852;
  font-size: 1.1rem;
}

.modal-edit-date-input-subdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-edit-date-input-subdiv-label {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.modal-edit-date-name-input {
  margin-top: 10px;
  width: 240px;
  height: 50px;
  padding-left: 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.modal-edit-date-title-error-name-input {
  width: 240px;
  height: 50px;
  padding-left: 16px;
  border: 2px solid #C94852;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.modal-edit-date-name-input:focus {
  width: 240px;
  height: 50px;
  padding-left: 16px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.filter-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.modal-edit-date-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-direction: row;
  margin-bottom: 20px;
}

.modal-edit-import-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: auto;
  flex-direction: column;
}

.modal-edit-date-button {
  margin-top: 40px;
  position: relative;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
  height: 45px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: white;
}

.modal-edit-date-button:hover {
  background-color: #48474c;
}

.modal-edit-delete-button {
  margin-top: 40px;
  position: relative;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
  height: 45px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: red;
  border: 1px solid red;
}

.modal-edit-delete-button:hover {
  background-color: #48474c;
}

.click-search-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--rivian-gray);
  color: #252525;
}

.click-search-button:hover {
  background-color: #48474c;
  color: white;
}

.filter-back-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: white;
}

.filter-back-button:hover {
  background-color: #48474c;
}

.filter-search-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 90px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: white;
}

.filter-search-button:hover {
  background-color: #48474c;
}

.filter-add-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgb(16, 124, 218);
  color: white;
}

.filter-add-button:hover {
  background-color: #48474c;
}

.filter-bulk-edit-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgb(16, 124, 218);
  color: white;
}

.filter-bulk-edit-button:hover {
  background-color: #48474c;
}

.filter-generate-wo-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 180px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: white;
}

.filter-generate-wo-button:hover {
  background-color: #48474c;
}

.filter-export-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 36px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
  color: rgb(27, 145, 76);
  border: 1px solid rgb(27, 145, 76);
}

.filter-export-button:hover {
  background-color: #48474c;
}

.row-threedots-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 36px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: black;
}

.row-threedots-button:hover {
  background-color: #48474c;
}

.filter-columns-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 36px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
  color: white;
  border: 1px solid var(--rivian-yellow);
}

.filter-columns-button:hover {
  background-color: #48474c;
}

.modal-edit-date-table-div {
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-items: center;
}

.modal-edit-date-top-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.modal-edit-label-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-edit-label-name-input {
  font-size: 1rem;
  font-weight: bold;
}

.masterbom-top-div {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-self: center;
  /* margin-top: 50px; */
}

.masterbom-top-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-edit-infinity-button-div {
  display: flex;
  flex-direction: row;
}

.modal-edit-infinity-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: white;
}

.modal-edit-infinity-button:hover {
  background-color: #48474c;
}

.modal-edit-today-button {
  position: relative;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: white;
}

.modal-edit-today-button:hover {
  background-color: #48474c;
}

.shop-button-div {
  display: block;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  flex-direction: row;
  
}

.shop-button {
  margin-top: 20px;
  position: relative;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 2;
  height: 36px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 77px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: normal;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: #252525;
  border: 1px solid #252525;
}

.shop-button:hover {
  background-color: #48474c;
  color: white;
}